# sudo lsusb -v # find out iSerial for Webcams
# udevadm info /dev/video0

#  CAM0: 0x0821 B5713800 Logitech, Inc. HD Webcam C910
#  CAM1: 0x0821 2B127E90 Logitech, Inc. HD Webcam C910 
# CAM2: 0x081b A82FA4FE Logitech, Inc. Webcam C930e
# CAM3: 0x081b C9CEA4FE Logitech, Inc. Webcam C930e

SUBSYSTEMS=="usb", KERNEL=="video*", ATTRS{serial}=="57DEB4FE", SYMLINK+="video4"
SUBSYSTEMS=="usb", KERNEL=="video*", ATTRS{serial}=="915FA4FE", SYMLINK+="video6"
SUBSYSTEMS=="usb", KERNEL=="video*", ATTRS{serial}=="A82FA4FE", SYMLINK+="video5"
SUBSYSTEMS=="usb", KERNEL=="video*", ATTRS{serial}=="C9CEA4FE", SYMLINK+="video7"


